/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */

/* #region GENERAL */
h2, p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.container{
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    padding: 0;
}
.row, .col-12, .col-8, .col-4, .anchor{
    height: 100%;
}
.col-12 .active{
    display: block;
    opacity: 1;
}
.col-8{
    border-right: 1px solid black;
}
.anchor{
    display: none;
    position: relative;
}
.col-4{
    position: relative;
    background-color: black;
}
.col-4 i{
    font-size: 25px;
    filter: invert(0.2);
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-8 img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.col-4{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.description{
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    text-align: end;
}
.arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}
.previous{
    top: 10px;
}
.next{
    bottom: 10px;
}
#miniature{
    margin-top: 15px;
    max-height: 100px;
}
/* #endregion GENERAL */

/* #region MyStyle */
.ms-h20{
    height: 20%;
    border: 1px solid black;
}
.ms-col-20{
    width: 20%;
}
.thumbnail{
    opacity: 0.4;
}
.ms-btn{
    background-color: grey;
    border: 1px solid black;
}
.button{
    display: flex;
    justify-content: center;
}
/* #endregion MyStyle */



