/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */

/* #region GENERAL */
.container{
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    padding: 0;
}
.row, .col-12, .col-8, .col-4{
    height: 100%;
}
.col-12{
}
.col-8{
}
.col-4{
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* #endregion GENERAL */

/* #region MyStyle */
.ms-h20{
    height: 20%;
    border: 1px solid black;
}
.thumbnail{
    opacity: 0.4;
}
/* #endregion MyStyle */



