/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */

/* #region GENERAL */
.container{
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    padding: 0;
}
.row, .col-12, .col-8, .col-4{
    height: 100%;
}
.col-12{
}
.col-8{
    border-right: 1px solid black;
    background-color: red;
}
.col-4{
    position: relative;
    background-color: black;
}
.col-4 i{
    font-size: 25px;
    filter: invert(0.2);
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}
.previous{
    top: 10px;
}
.next{
    bottom: 10px;
}
/* #endregion GENERAL */

/* #region MyStyle */
.ms-h20{
    height: 20%;
    border: 1px solid black;
}
.thumbnail{
    opacity: 0.4;
}
/* #endregion MyStyle */



